.gradle/
build/
/*.jar
bin/

run/
run-test/
*.log
logs/
remappedSrc/

.idea/
*.iml
out/
.classpath
.project
.settings/
*.code-workspace

.DS_Store
Thumbs.db
desktop.ini

local.properties
gradle.user.properties
*.jks
*.p12
*.keystore
.env
.env.*
!.env.example
